body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(img/background.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
}

.login-container {
    background: rgba(255, 255, 255, 0.9); /* Màu nền trắng, nhưng hơi trong suốt */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    color: #333333; /* Màu chữ cho container */
}

h2 {
    margin-bottom: 20px;
    color: #333333; /* Màu chữ của tiêu đề */
}

.form-group {
    margin-bottom: 10px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background: #0056b3;
}

#message {
    margin-top: 15px;
    color: red;
    font-weight: bold;
}
